# Project Folder Excludes
/**/TestResults/**/*
/**/packages/**/*
/**/obj/**/*
/**/bin/**/*
/**/debug/**/*
/**/release/**/*

WIP.cs

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
Thumbs.db
ehthumbs.db

# Windows
Desktop.ini
$RECYCLE.BIN/

# Linux
.directory

# IDEs and Editors
/**/.idea/**/*
/**/.vs/**/*
/**/.vscode/**/*
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
*.swo
*.bak
